<div class="d-flex  justify-content-between">
    <img src="images/product_19.png" class="ms-3"style="max-width: 40%; height: auto">
	<div class="d-flex flex-column mx-5">
		<h3>T-Shirt</h3>
		<p>Description</p>

        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Color:</td>
                    <td>
                        <div class="badge" style="background-color:aqua; color:aqua">B</div>
                    </td>
                </tr>
                <tr>
                    <td>Size:</td>
                    <td>
                        <div class="badge text-bg-light">S</div>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        $129.55
                    </td>
                </tr>
            </tbody>
        </table>

		<button class="btn btn-danger btn-sm">Remove</button>
	</div>
</div>
@code {

}
