 <div class="modal fade" id="cart" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-bg-secondary p-3">
                    <h1 class="modal-title fs-5 " id="cartModalLabel">Shopping cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <CartItemComponent/>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Continue to Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
