@page "/"
@* dependancy injection in blazor: *@
@inject UIService Service;

<NavComponent />
@* <MenuComponent />
<CarouselComponent />
<CardListComponent /> *@

<div id="viewport" class="d-flex vh-100">
	@* making the UIService avaiable through cascade, two way communication. *@
	<CascadingValue Value="Service" Name="Service">
		<AsideComponent OnChange="OnChange"/>
		<ProductMainComponent OnChange="OnChange" />
	</CascadingValue>
</div>

@code{
	void OnChange()
	{
		//no code needed, it will be called, and so trigger the html and update the page.
	}
}